<h2><span><a href="#/">< Назад </a></span> {{ title}}</h2>

    <!----------------- filters ------------------->
<div class="text-message"  ng-show="$ctrl.list.length == '0'">
    <p>Нет записей в базе данных</p>
</div>

    <!----------------- table --------------------->

<table class="table"><thead>
<tr>
    <th>Название</th>
    <th>Статус</th>
    <th></th>
    <th>Дата создания</th>
    <th class="s-last"></th>
</tr>
</thead>

<tbody>
<tr data-ng-repeat="item in $ctrl.list">
    <td>{{item.title}}</td>
    <!--Todo:Crutch-->
    <td ng-if="item.status == 'u'">-</td>
    <td ng-if="item.status == 'd'">+</td>
    <td><a href="#/texts/{{item.id}}">Проанализировать</a></td>
    <td>{{item.created_at}}</td>
    <td class="s-last"></td>
</tr>
</tbody></table>
<hr>
<br>
    <!----------------- footer --------------------->
<span>Количество: {{$ctrl.list.length}}</span>