<div class="container">
<div class="row">
<div class="col-md-12">

    <h2 class="page-header">{{title}} <span>Количество: {{$ctrl.list.length}}</span></h2>

<!----------------- filters ------------------->

<!----------------- message if empty ------------------->
<div class="text-message"  ng-show="$ctrl.list.length == '0'">
    <p>Пусто. <a href="#/texts/new">добавить текст</a></p>
</div>

<div ng-show="$ctrl.list.length != '0'">
<!----------------- table --------------------->
<table class="table table table-striped"><thead>
<tr>
    <th></th>
    <th  class="col-sm-6"><a ng-click="sort('title')"
        >Название</a></th>
    <th class="col-sm-1 d"
        ></th>
    <th class="col-sm-1 d"
        ></th>
    <th class="col-sm-2 d"><a ng-click="sort('created_at')"
        >Дата создания</a></th>

    <th class="s-last  col-xs-1"></th>
</tr>
</thead>

<tbody>
<tr data-ng-repeat="item in $ctrl.list | orderBy:sortingRows:sortingReverse">
    <!--Todo:Crutch-->
    <!--Status todo:removeCrutch -->
        <td class=" danger"  title="Не разобран"          ng-if="item.status == 'u'" ></td>
        <td class=" success" title="Разобран"             ng-if="item.status == 'd'" ></td>
        <td class=" info"    title="Разобран не до конца" ng-if="item.status == 'a'" ></td>
    <td>{{item.title}}</td>

    <td><a href="#/texts/{{item.id}}">посмотреть</a></td>
    <td><a href="#/texts/edit/{{item.id}}">редактировать</a></td>
    <td class="d">{{item.created_at | limitTo:'10' | date:'dd/MM/yyyy'}}</td>

    <td class="s-last"></td>
</tr>
</tbody></table>
<hr>
<br>
    <!----------------- footer --------------------->

    </div>
</div>
</div>
</div>
