<h2><span><a href="#/">< Назад </a></span> Список текстов</h2>

    <!----------------- filters ------------------->

    <!----------------- table --------------------->

<table class="table"><thead>
<tr>
    <th>Название</th>
    <th>Статус</th>
    <th></th>
    <th>Название</th>
</tr>
<tr data-ng-if="">
    Нет записей.
</tr>
</thead><tbody>
<tr data-ng-repeat="">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tbody></table><br>
    <!----------------- footer --------------------->