body {
  /*  padding: 20px;*/
}

span {
    font-size: 14px;
}

a {
    cursor: pointer;
}

.s-last{

}

h2 {
     color: #999;
 }

h3{
    color: #999;
}

h6 {
    text-transform: uppercase;
    color: #aaa;
    font-size: medium;
}
.text-message{

}

.table-custom{
    max-width: none;
}

textarea.form-control {
    max-width: 100%;
    height: 400px;
}

input[type=text].text{

}

footer{
    opacity: 0.3;
    z-index: -1;
}

footer:hover{
    opacity: 1;
}
.navbar{
    background: #f8f8f8;
    min-height:30px;
    margin-bottom:0px;
}
.navbar li{
    float: left;
}

.brand{
    display: block;
    float: left;
    padding: 12px 30px 8px 15px;
    margin-left: -20px;
    font-size: x-large;
    font-weight: 200;
    line-height: 1;
    color: #777;
}

.nav li a {
    padding: 15px 15px;
}

.d{
    text-align: right;
}

.c {
    text-align: center;
}

.upFont{
    font-size: large;
}

hr.withoutMargin{
    margin: 0px;
    padding: 0px;
}


/*Text styles*/
.bold {
    font-weight: bold;
}

.blue {
    color: #337ab7;
}

.red {
    color: #DE4348;
}

input[type="radio"].specRadiobutton{
    display:none;
}

input[type="radio"]:checked + .btn-default{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.specRadiobutton + label{
    cursor: pointer;
}

.cell-limited-s{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
}
.cell-limited-l{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 360px;
}
.cell-limited-xl{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 480px;
}

.stylish-form input.ng-invalid.ng-touched{
    border-color: #ef4635;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 70, 53, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 70, 53, .6);
}

/* The starting CSS styles for the enter animation */
/*.fade.ng-enter {
    transition:3s ease;
    !*opacity:0;*!
    color:black;
}*/

/* The finishing CSS styles for the enter animation */
/*.fade.ng-enter.ng-enter-active {
    opacity:1;
}
.fade.ng-leave{
    transition: 10s;
}*/

.content-area {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.notification {
    display: inline-block;
    margin-left: 30px;
    font-weight: bold;
    transition: all linear 0.5s;
}
.notification.ng-hide {
    opacity: 0;
}

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th{
    background-color: #bad2ff;
}


.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color: #a1b4d9;
}
/*border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/

label{
    font-weight: normal;
}

.btn{
    margin-bottom: 5px;
}

.closely{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

th{
    font-weight: normal;
    color: #afafaf;
}