body {
    padding: 20px;
}

span {
    font-size: 14px;
}

a {
    cursor: pointer;
}

.s-last{

}

.text-message{

}

input[type=text].text{

}

footer{
    opacity: 0.3;
    z-index: -1;
}
.navbar{
    background: #f8f8f8;
}
.navbar li{
    float: left;
}

.brand{
    display: block;
    float: left;
    padding: 12px 30px 8px 15px;
    margin-left: -20px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    color: #777;
}

.nav li a {
    padding: 15px 15px;
}

.d{
    text-align: right;
}

.c {
    text-align: center;
}

.upFont{
    font-size: large;
}

hr.withoutMargin{
    margin: 0px;
    padding: 0px;
}