RewriteEngine On
ErrorDocument 404 index.html
RewriteRule ^texts index.php
RewriteRule ^texts/(.*)$ index.php
RewriteRule ^collocations index.php
RewriteRule ^collocations/(.*)$ index.php
RewriteRule ^collocation index.php
RewriteRule ^collocation/(.*)$ index.php
RewriteRule ^characteristics index.php
RewriteRule ^characteristicsExpansion index.php
RewriteRule ^characteristics/(.*)$ index.php
RewriteRule ^characteristicsExpansion/(.*)$ index.php
RewriteRule ^htmlParseSpec index.php

