<div class="container">
    <div class="row">
        <div class="col-md-6">
<h2 class="page-header">Добавление словосочетаний</h2>

<form novalidate ng-submit="$ctrl.onCreate()">

    <label for="collText_id">Текст*</label>  <br>
    <select id="collText_id" ng-model="$ctrl.entity.text_id" class="form-control">
        <option data-ng-repeat="item in $ctrl.textsList" value="{{item.id}}">{{item.title}}</option>
    </select> <br> <br>

    <label for="collName">Словосочетание*</label>  <br>
    <input class="text form-control" ng-model="$ctrl.entity.collocation" name="title" id="collName" type="text" required/> <br><br>

    <label for="collCharact1">Характеристика 1</label>  <br>
    <select id="collCharact1" class="form-control" ng-model="$ctrl.entity.charact_1">
        <option value="3xmem">3х член</option>
        <option value="distant">дистантное</option>
        <option value="interpos">интерпозиция</option>
        <option value="postpos">постпозиция</option>
        <option value="prepos">препозиция</option>
        <option value="attach">приложение</option>
    </select> <br><br>


    <!--TODO:charact2-->
    <label for="collCharact2">Характеристика 2</label>  <br>
    <div id="collCharact2"
            ng-dropdown-multiselect=""

         search-filter="customFilter"
         options="$ctrl.charactsList"
         selected-model="$ctrl.entity.characteristics"
         extra-settings="example15settings"
            translation-texts="translation"
    ></div> <br> <br>


 <!-- <select id="collCharact2" ng-model="$ctrl.entity.charact_2">
        <option data-ng-repeat="item in $ctrl.charactsList" value="{{item.id}}">{{item.characteristic}}</option>
    </select>  <br>-->

    <label for="collStatus">Текущий статус*</label>  <br>
    <select id="collStatus" class="form-control" ng-model="$ctrl.entity.status">
        <option value="u">Не разобрано</option>
        <option value="d">Разобрано</option>
        <option value="a">Разобрано не до конца</option>
    </select>  <br><br>

    <button type="submit" class="btn btn-default" value="добавить">добавить</button>

    <!--ToDo: improve Notifies-->
    <div class="notification" ng-style="" >{{$ctrl.notificationMessage}}</div>
</form>


</div>
</div>
</div>

