<!-- Тип кодирования данных, enctype, ДОЛЖЕН БЫТЬ указан ИМЕННО так -->
<!--
<form enctype="multipart/form-data" ng-submit="onUploading" method="POST">
    &lt;!&ndash; Поле MAX_FILE_SIZE должно быть указано до поля загрузки файла &ndash;&gt;
    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
    <input type="text" ng-model="$ctrl.entity.name" />
    &lt;!&ndash; Название элемента input определяет имя в массиве $_FILES &ndash;&gt;
    Отправить этот файл: <input name="userfile" type="file" ng-model="$ctrl.entity.file" />
    <input type="submit" value="Send File" />
    <button type="submit">отправить</button>
</form>
-->

<input type="file" oi-file="options">

<!--Debug-->
<pre>
        {{ resulting | json}}
</pre>