<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">
        {{title}} <span>Количество: {{$ctrl.list.length}}</span>
      </h2>

      <!----------------- filters ------------------->

      <!----------------- message if empty ------------------->
      <div class="text-message" ng-show="$ctrl.list.length == '0'">
        <p>Пусто. <a href="#/texts/new">добавить текст</a></p>
      </div>

      <div ng-show="$ctrl.list.length != '0'">
        <!--   <pre>
        {{sortingRows}} {{sortingReverse}}
    </pre>-->
        <!----------------- table --------------------->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="width: 1%"></th>
              <th class="text-nowrap">
                <a ng-click="sort('title')">Название</a>
              </th>
              <th>
                <a ng-click="sort('number_of_collocations')"
                  >Количество словосочетаний</a
                >
              </th>
              <th class="col-sm-1 d"></th>
              <th class="col-sm-1 d"></th>
              <th class="col-sm-2 d">
                <a ng-click="sort('created_at')">Дата создания</a>
              </th>

              <th class="s-last  col-xs-1"></th>
            </tr>
          </thead>

          <tbody>
            <tr
              data-ng-repeat="item in $ctrl.list | orderBy:sortingRows:sortingReverse"
            >
              <!--Todo:Crutch-->
              <!--Status todo:removeCrutch -->
              <td
                class=" danger"
                title="Не разобран"
                ng-if="item.status == 'u'"
              ></td>
              <td
                class=" success"
                title="Разобран"
                ng-if="item.status == 'd'"
              ></td>
              <td
                class=" info"
                title="Разобран не до конца"
                ng-if="item.status == 'a'"
              ></td>
              <td title="{{item.title}}" class="text-nowrap">
                <div class="cell-limited-xl">{{item.title}}</div>
              </td>

              <td>{{item.number_of_collocations}}</td>

              <td><a href="#/texts/{{item.id}}">посмотреть</a></td>
              <td><a href="#/texts/edit/{{item.id}}" data-ng-if="$ctrl.isAdmin">редактировать</a></td>
              <td class="d">
                {{item.created_at | limitTo:'10' | date:'dd/MM/yyyy'}}
              </td>

              <td class="s-last"></td>
            </tr>
          </tbody>
        </table>
        <hr />
        <br />
        <!----------------- footer --------------------->
      </div>
    </div>
  </div>
</div>
