<div class="container" >
  <div class="row">
    <div class="col-md-12">
        <h2 class="page-header">{{$ctrl.entity.title}}</h2>
        <div class="row">
          <div class="col-md-12">
            <textarea readonly class="form-control" resize="vertical">
{{$ctrl.entity.text}}</textarea
            >
            <br /><br />
            <label>Библиографическая информация:</label><br />
            <pre ng-if="$ctrl.entity.bibliography">
{{$ctrl.entity.bibliography}}</pre
            >
            <pre ng-if="$ctrl.entity.bibliography === null">Не заполнена</pre>
            <br /><br />
          </div>
        </div>
      </div>

      <h1>Доступ запрещен</h1>
  </div>
</div>
