<div class="container">
<div class="row">
<div class="col-md-6">

<h2 class="page-header">Добавление текста</h2>

<form novalidate ng-submit="$ctrl.sending()">
    <label for="textName">Название*</label>  <br>
    <input class="text form-control" ng-model="$ctrl.entity.title" name="title" id="textName" type="text" required/> <br>

    <label for="textName">Текст</label>    <br>
    <textarea id="textText" ng-model="$ctrl.entity.text" name="text" class="form-control">

    </textarea> <br><br>

    <label for="textStatus">Текущий статус*</label>  <br>
    <select id="textStatus" ng-model="$ctrl.entity.status" class="form-control">
        <option value="u">Не разобран</option>
        <option value="d">Разобран</option>
        <option value="a">Разобран не до конца</option>
    </select>  <br><br>

    <button type="submit" value="добавить" class="btn btn-default">добавить</button>
    <div class="notification" ng-style="" >{{$ctrl.notificationMessage}}</div>
</form>
</div>
</div>
</div>