<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">{{title}}  <span>Количество: {{$ctrl.list.length}}</span></h2>

            <!----------------- filters ------------------->
            <div class="text-message"  ng-show="$ctrl.list.length == '0'">
                <p>Пусто. <a href="#/chars/new">добавить характеристику</a></p>
            </div>

            <div ng-show="$ctrl.list.length != '0'">
                <!----------------- table --------------------->
                <table class="table table-striped"><thead>
                <tr>
                    <th class="col-md-2">Название</th>
                   <!-- <th>Дата создания</th>-->
                    <th></th>
                    <th class="s-last"></th>
                </tr>
                </thead>

                    <tbody>
                    <tr data-ng-repeat="item in $ctrl.list">
                        <td ng-show="$ctrl.editing != '{{item.id}}'">{{item.characteristic}}</td>
                        <td ng-show="$ctrl.editing == '{{item.id}}'"><input type="text" ng-value="item.characteristic"  ng-model="$ctrl.newValue"></td>
                       <!-- <td>{{item.created_at }}</td>-->
                        <td ng-show="$ctrl.editing != '{{item.id}}'"><a ng-click="editChar(item.id)">редактировать</a></td>
                        <td ng-show="$ctrl.editing == '{{item.id}}'"><a ng-click="saveChanges(item.id)">сохранить</a></td>
                        <td class="s-last"></td>
                    </tr>
                    </tbody></table>
                <hr>
                <br>
                <!----------------- footer --------------------->

            </div>
        </div>
    </div>
</div>
