<h2>Текст #{{ textId}}</h2>

<!----------------- filters ------------------->

<!----------------- table --------------------->

<!--<table class="table"><thead>
<tr>
    <th>Название</th>
    <th>Статус</th>
    <th></th>
    <th>Дата создания</th>
    <th class="s-last"></th>
</tr> &lt;!&ndash;ng-if="!$ctrl.filter.entities.length&ndash;&gt;
<tr data-ng-if="!$ctrl.list.length">
    Нет записей.
</tr>
</thead><tbody>
<tr data-ng-repeat="item in $ctrl.list">
    <td>{{item.title}}</td>
    <td>{{item.status}}</td>
    <td>Проанализировать</td>
    <td>{{item.created_at}}</td>
    <td class="s-last"></td>
</tr>
</tbody></table><br>-->
<!----------------- footer --------------------->
<!--
<span>Количество:</span>-->
